<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 id="title">Student Placement Management System</h1>
        <div class="links-container">
            <form action="/createUser" method="GET"><button>Create</button></form>
            <form action="/read" method="GET"><button>Read</button></form>
            <form action="/updateUser" method="GET"><button>Update</button></form>
            <form action="/delete" method="GET"><button>Delete</button></form>
        </div>
    </div>
</body>
</html>